body {
    background-color: #316da5; /* light purple */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, serif, Helvetica, sans-serif;
    color: #3d2c5e;
}

center {
    background-color: #6daff1;
    width: 70%;
    margin: auto;
    padding: 30px;
    border-radius: 12px;
}

h2 {
    color: #070707;
}

img {
    margin: 20px 0;
    border-radius: 10px;
}

p {
    line-height: 1.6;
    color: #080808;
}
